/* Application styles */
body {
  background-color: rgb(209, 209, 209);
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  margin-top: 20px;
}

.temperature {
  font-size: 40px;
}

.weather-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description {
  display: flex;
  align-items: center;
}